.github/**
.gitignore
.test-work/**
.vscode/**
.vscode-test/**
src/**
scripts/**
test/**
out/scripts/**
out/test/**
out/**/*.map
eslint.config.mjs
tsconfig.json
*.vsix
node_modules/diff/CONTRIBUTING.md
node_modules/diff/README.md
node_modules/diff/release-notes.md
node_modules/diff/runtime.js
node_modules/diff/dist/**
